body {
/*  padding-top: 40px;
  padding-bottom: 40px;*/
  //background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 20px;
}
.form-signin .checkbox .fgtpwd{
  font-weight: normal;
}

.code{
    max-width: 150px;
    float: left;
    margin-right: 20px;
}

.error{
    color: red;
    margin-top:  -10px;
}

.yzm{
    color: red;
    float: right;
}

.checkbox{
    margin-left: 20px;
    //margin-top: 0px;
    //float: left;
}

.fgtpwd{
    float: left;
}
.defualt{
    width: 300px;
    margin: 10px 0 0 0;
}

.register{
    float: right;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 15px;
}

